# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env

# ==========================================
# Git
# ==========================================

.git
.gitignore

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary Files
# ==========================================

*.tmp

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Docker
# ==========================================

docker-compose.yml